:root {
  background-color: white;
  --cyan: hsl(180, 66%, 49%);
  --lgray: hsl(0, 0%, 75%);
  --red: hsl(0, 87%, 67%);
  --mgray: hsl(257, 7%, 63%);
  --mpurp: hsl(255, 11%, 22%);
  --dpurp: hsl(260, 8%, 14%);
  --lpurp: hsl(257, 27%, 26%);

  --base-font: 18px;
  --small-font: 500;
  --lrg-font: 700;
}

* {
  box-sizing: border-box;
  /* outline: 1px solid red; */
  margin: 0;
  padding: 0;
}

html {
  font-size: 112.5%;
}

html, body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  max-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

li {
  list-style-type: none;
}

li > a, a {
  text-decoration: none;
  color: white;
}


/* Specific classes */
/* ===============================================*/
/* All squared borders */
.sq-border {
  border-radius: 10px;
}


/* General styles */
/* ===============================================*/
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
}
nav > img {
  margin: 3rem 0rem;
}

.fa-solid.fa-bars {
  align-self: center;
  color: var(--mgray);
}
/* .main-img {
  width: 100%;
} */
.main-img > img{
  width: 155%;
}
